*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
input{
    outline: none;
}
textarea{
    overflow: auto;
}
.clearfix::after{
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.clearfix{
    *zoom: 1;
}
